.center {
    margin: 30px;
    position: relative;
    width: 500px;
    height: 500px;
    background: #999FF0; 
  }
  
  .center p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }